$levels: 3
$circle-border-width: 3px
$circle-margin: 10px
$circle-radius: 10px
$label-width: 150px

$primary-color: #ff539a

$node-offset-x: 250px
@function calc-offset-y($i, $factor: 1, $adj: 0px)
  @return calc((-100px + ((#{$i} - 1) * 35px)) * #{$factor} + #{$adj})


//  Node styles

.Node
  display: flex
  align-items: center
  position: absolute


@for $i from 1 through $levels
  .Node__right.Node__level-#{$i}
    animation: expand-right-level-#{$i} 0.6s forwards
  .Node__left.Node__level-#{$i}
    animation: expand-left-level-#{$i} 0.6s forwards

  .Node-collapsed
    .Node__right.Node__level-#{$i}
      animation: collapse-right-level-#{$i} 0.6s forwards
    .Node__left.Node__level-#{$i}
      animation: collapse-left-level-#{$i} 0.6s forwards


//  Node circle and label styles

.Node__circle
  width: calc(2 * #{$circle-radius})
  height: calc(2 * #{$circle-radius})
  border-radius: 50%
  border: $circle-border-width solid $primary-color

  margin-left: $circle-margin
  cursor: pointer
  background-color: white

.Node-collapsed > .Node__circle
  background-color: lighten($primary-color, 20%)

.Node__label
  width: $label-width
  text-align: right


//  Node edges styles

.Edge
  z-index: -1
  position: absolute
  left: calc(#{$label-width} + #{$circle-margin} + #{$circle-border-width} + #{$circle-radius})
  top: calc(#{$circle-radius} + #{$circle-border-width})
  svg
    width: $node-offset-x

@for $i from 0 through $levels - 1
  .Node__level-#{$i}
    .Edge
      svg
        height: calc-offset-y($i + 1, -1)
    .Edge__right
      top: calc-offset-y($i + 1, 1, $circle-border-width + $circle-radius)

.Edge__left
  transform: scaleX(-1)


//  Animations

@for $i from 1 through $levels
  @keyframes expand-right-level-#{$i}
    0%
      left: 0
      top: 0
      opacity: 0
    100%
      left: $node-offset-x
      top: calc-offset-y($i)
      opacity: 1

  @keyframes expand-left-level-#{$i}
    0%
      left: 0
      bottom: 0
      opacity: 0
    100%
      left: $node-offset-x
      bottom: calc-offset-y($i)
      opacity: 1

  @keyframes collapse-right-level-#{$i}
    0%
      left: $node-offset-x
      top: calc-offset-y($i)
      opacity: 1
    100%
      left: 0
      top: 0
      opacity: 0

  @keyframes collapse-left-level-#{$i}
    0%
      left: $node-offset-x
      bottom: calc-offset-y($i)
      opacity: 1
    100%
      left: 0
      bottom: 0
      opacity: 0
