.Node {
  display: flex;
  align-items: center;
}

.Node__circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #ff539a;
  margin-left: 10px;
  cursor: pointer;
}

.Node__label {
  width: 150px;
  text-align: right;
}
