.Node {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
}

.Node__right.Node__level-1 {
  animation: expand-right-level-1 0.5s forwards;
}

.Node__left.Node__level-1 {
  animation: expand-left-level-1 0.5s forwards;
}

.Node-collapsed .Node__right.Node__level-1 {
  animation: collapse-right-level-1 0.5s forwards;
}

.Node-collapsed .Node__left.Node__level-1 {
  animation: collapse-left-level-1 0.5s forwards;
}

.Node__right.Node__level-2 {
  animation: expand-right-level-2 0.5s forwards;
}

.Node__left.Node__level-2 {
  animation: expand-left-level-2 0.5s forwards;
}

.Node-collapsed .Node__right.Node__level-2 {
  animation: collapse-right-level-2 0.5s forwards;
}

.Node-collapsed .Node__left.Node__level-2 {
  animation: collapse-left-level-2 0.5s forwards;
}

.Node__right.Node__level-3 {
  animation: expand-right-level-3 0.5s forwards;
}

.Node__left.Node__level-3 {
  animation: expand-left-level-3 0.5s forwards;
}

.Node-collapsed .Node__right.Node__level-3 {
  animation: collapse-right-level-3 0.5s forwards;
}

.Node-collapsed .Node__left.Node__level-3 {
  animation: collapse-left-level-3 0.5s forwards;
}

.Node__circle {
  width: calc(2 * 10px);
  height: calc(2 * 10px);
  border-radius: 50%;
  border: 3px solid #ff539a;
  margin-left: 10px;
  cursor: pointer;
  background-color: white;
}

.Node-collapsed > .Node__circle {
  background-color: #ffb9d6;
}

.Node__label {
  width: 150px;
  text-align: right;
}

.Edge {
  z-index: -1;
  position: absolute;
  left: calc(150px + 10px + 3px + 10px);
  top: calc(10px + 3px);
}

.Edge__left {
  transform: scaleX(-1);
}

.Node__level-0 .Edge svg {
  animation: expand-edge-level-0 0.5s forwards;
  transform-origin: left top;
}

.Node__level-0 .Edge__right {
  animation: move-edge-top-expanding-level-0 0.5s forwards;
}

.Node-collapsed.Node__level-0 .Edge svg {
  animation: collapse-edge-level-0 0.5s forwards;
  transform-origin: left top;
}

.Node-collapsed.Node__level-0 .Edge__right {
  animation: move-edge-top-collapsing-level-0 0.5s forwards;
}

.Node__level-1 .Edge svg {
  animation: expand-edge-level-1 0.5s forwards;
  transform-origin: left top;
}

.Node__level-1 .Edge__right {
  animation: move-edge-top-expanding-level-1 0.5s forwards;
}

.Node-collapsed.Node__level-1 .Edge svg {
  animation: collapse-edge-level-1 0.5s forwards;
  transform-origin: left top;
}

.Node-collapsed.Node__level-1 .Edge__right {
  animation: move-edge-top-collapsing-level-1 0.5s forwards;
}

.Node__level-2 .Edge svg {
  animation: expand-edge-level-2 0.5s forwards;
  transform-origin: left top;
}

.Node__level-2 .Edge__right {
  animation: move-edge-top-expanding-level-2 0.5s forwards;
}

.Node-collapsed.Node__level-2 .Edge svg {
  animation: collapse-edge-level-2 0.5s forwards;
  transform-origin: left top;
}

.Node-collapsed.Node__level-2 .Edge__right {
  animation: move-edge-top-collapsing-level-2 0.5s forwards;
}

@keyframes expand-right-level-1 {
  0% {
    left: 0;
    top: 0;
    opacity: 0;
  }
  100% {
    left: 250px;
    top: calc(((3 - 1 + 1) * 50px) * -1 + 0px);
    opacity: 1;
  }
}

@keyframes expand-left-level-1 {
  0% {
    left: 0;
    bottom: 0;
    opacity: 0;
  }
  100% {
    left: 250px;
    bottom: calc(((3 - 1 + 1) * 50px) * -1 + 0px);
    opacity: 1;
  }
}

@keyframes collapse-right-level-1 {
  0% {
    left: 250px;
    top: calc(((3 - 1 + 1) * 50px) * -1 + 0px);
    opacity: 1;
  }
  100% {
    left: 0;
    top: 0;
    opacity: 0;
  }
}

@keyframes collapse-left-level-1 {
  0% {
    left: 250px;
    bottom: calc(((3 - 1 + 1) * 50px) * -1 + 0px);
    opacity: 1;
  }
  100% {
    left: 0;
    bottom: 0;
    opacity: 0;
  }
}

@keyframes expand-right-level-2 {
  0% {
    left: 0;
    top: 0;
    opacity: 0;
  }
  100% {
    left: 250px;
    top: calc(((3 - 2 + 1) * 50px) * -1 + 0px);
    opacity: 1;
  }
}

@keyframes expand-left-level-2 {
  0% {
    left: 0;
    bottom: 0;
    opacity: 0;
  }
  100% {
    left: 250px;
    bottom: calc(((3 - 2 + 1) * 50px) * -1 + 0px);
    opacity: 1;
  }
}

@keyframes collapse-right-level-2 {
  0% {
    left: 250px;
    top: calc(((3 - 2 + 1) * 50px) * -1 + 0px);
    opacity: 1;
  }
  100% {
    left: 0;
    top: 0;
    opacity: 0;
  }
}

@keyframes collapse-left-level-2 {
  0% {
    left: 250px;
    bottom: calc(((3 - 2 + 1) * 50px) * -1 + 0px);
    opacity: 1;
  }
  100% {
    left: 0;
    bottom: 0;
    opacity: 0;
  }
}

@keyframes expand-right-level-3 {
  0% {
    left: 0;
    top: 0;
    opacity: 0;
  }
  100% {
    left: 250px;
    top: calc(((3 - 3 + 1) * 50px) * -1 + 0px);
    opacity: 1;
  }
}

@keyframes expand-left-level-3 {
  0% {
    left: 0;
    bottom: 0;
    opacity: 0;
  }
  100% {
    left: 250px;
    bottom: calc(((3 - 3 + 1) * 50px) * -1 + 0px);
    opacity: 1;
  }
}

@keyframes collapse-right-level-3 {
  0% {
    left: 250px;
    top: calc(((3 - 3 + 1) * 50px) * -1 + 0px);
    opacity: 1;
  }
  100% {
    left: 0;
    top: 0;
    opacity: 0;
  }
}

@keyframes collapse-left-level-3 {
  0% {
    left: 250px;
    bottom: calc(((3 - 3 + 1) * 50px) * -1 + 0px);
    opacity: 1;
  }
  100% {
    left: 0;
    bottom: 0;
    opacity: 0;
  }
}

@keyframes expand-edge-level-0 {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    width: 250px;
    height: calc(((3 - 1 + 1) * 50px) * 1 + 0px);
    opacity: 1;
  }
}

@keyframes collapse-edge-level-0 {
  0% {
    width: 250px;
    height: calc(((3 - 1 + 1) * 50px) * 1 + 0px);
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

@keyframes move-edge-top-expanding-level-0 {
  0% {
    top: calc(10px + 3px);
  }
  100% {
    top: calc(((3 - 1 + 1) * 50px) * -1 + 13px);
  }
}

@keyframes move-edge-top-collapsing-level-0 {
  0% {
    top: calc(((3 - 1 + 1) * 50px) * -1 + 13px);
  }
  100% {
    top: calc(10px + 3px);
  }
}

@keyframes expand-edge-level-1 {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    width: 250px;
    height: calc(((3 - 2 + 1) * 50px) * 1 + 0px);
    opacity: 1;
  }
}

@keyframes collapse-edge-level-1 {
  0% {
    width: 250px;
    height: calc(((3 - 2 + 1) * 50px) * 1 + 0px);
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

@keyframes move-edge-top-expanding-level-1 {
  0% {
    top: calc(10px + 3px);
  }
  100% {
    top: calc(((3 - 2 + 1) * 50px) * -1 + 13px);
  }
}

@keyframes move-edge-top-collapsing-level-1 {
  0% {
    top: calc(((3 - 2 + 1) * 50px) * -1 + 13px);
  }
  100% {
    top: calc(10px + 3px);
  }
}

@keyframes expand-edge-level-2 {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    width: 250px;
    height: calc(((3 - 3 + 1) * 50px) * 1 + 0px);
    opacity: 1;
  }
}

@keyframes collapse-edge-level-2 {
  0% {
    width: 250px;
    height: calc(((3 - 3 + 1) * 50px) * 1 + 0px);
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

@keyframes move-edge-top-expanding-level-2 {
  0% {
    top: calc(10px + 3px);
  }
  100% {
    top: calc(((3 - 3 + 1) * 50px) * -1 + 13px);
  }
}

@keyframes move-edge-top-collapsing-level-2 {
  0% {
    top: calc(((3 - 3 + 1) * 50px) * -1 + 13px);
  }
  100% {
    top: calc(10px + 3px);
  }
}
